### MY PIXEL CHALLENGE
## DEV
# The path of the src folder to mount for the app, for dev and debugging purpose.
WACDOC_SRC=./src
##

# The hostname you want your app to be reachable at. Don't forget to add it into your /etc/hosts file.
WACDOC_HOST=wacdoc.dev
# The path to store the uploads volume
UPLOAD_VOL=/path/to/upload/volume
# The UID/GID of your current user, so the uploads belongs to you.
UID=1000
GID=1000
# A secret key to be able to manage all files. Use it as host/?masterkey=MASTERKEY
MASTERKEY=ABIGASSPASSWORD

### REVERSE PROXY
# HTTP port
HTTP_PORT=80
# HTTPS port
HTTPS_PORT=443
# Path to your docker socket
DOCKER_SOCK=/var/run/docker.sock